@import "tailwindcss";

@theme {
  --color-primary: #0D1117;
  --color-accent-1: #58A6FF;
  --color-accent-2: #F97583;
  --color-accent-3: #A5D6FF;
  --color-background: #0D1117;
  --color-text: #C9D1D9;
  --color-border: #30363D;
}

* {
  scroll-behavior: smooth;
}

:root {
  background: var(--color-background);
  color: var(--color-text);
  border: var(--color-border);
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
